<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.partnerAllocatedQuota.home.title">Partner Allocated Quotas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-partner-allocated-quota" [routerLink]="['/partner-allocated-quota/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.partnerAllocatedQuota.home.createLabel">
            Create a new Partner Allocated Quota
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="partnerAllocatedQuotas?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.partnerAllocatedQuota.home.notFound">No partnerAllocatedQuotas found</span>
    </div>
    <div class="table-responsive" *ngIf="partnerAllocatedQuotas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partnerAllocatedQuota.partnerOrderId">Partner Order Id</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partnerAllocatedQuota.productId">Product Id</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partnerAllocatedQuota.quantity">Quantity</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partnerAllocatedQuota.startDate">Start Date</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partnerAllocatedQuota.expiryDate">Expiry Date</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partnerAllocatedQuota.productDetails">Product Details</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partnerAllocatedQuota.partnerOrder">Partner Order</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let partnerAllocatedQuota of partnerAllocatedQuotas ;trackBy: trackId">
                <td><a [routerLink]="['/partner-allocated-quota', partnerAllocatedQuota.id, 'view' ]">{{partnerAllocatedQuota.id}}</a></td>
                <td>{{partnerAllocatedQuota.partnerOrderId}}</td>
                <td>{{partnerAllocatedQuota.productId}}</td>
                <td>{{partnerAllocatedQuota.quantity}}</td>
                <td>{{partnerAllocatedQuota.startDate | date:'mediumDate'}}</td>
                <td>{{partnerAllocatedQuota.expiryDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="partnerAllocatedQuota.productDetailsId">
                        <a [routerLink]="['/product', partnerAllocatedQuota.productDetailsId , 'view' ]" >{{partnerAllocatedQuota.productDetailsId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="partnerAllocatedQuota.partnerOrderId">
                        <a [routerLink]="['/partner-order', partnerAllocatedQuota.partnerOrderId , 'view' ]" >{{partnerAllocatedQuota.partnerOrderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/partner-allocated-quota', partnerAllocatedQuota.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/partner-allocated-quota', partnerAllocatedQuota.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(partnerAllocatedQuota)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
